* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none; /*a要素の下線の表示を無くす*/
}

header {
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

/*headerタグ内のheadingクラスにのみ適用される書き方*/
header .heading {
  font-size: 32px;
}

.nav-list {
  text-align: center;  /*テキストを中央揃えにしたい場合にはtext-alignを使用する*/
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv.jpg); /*背景の設定*/
  background-size: cover; /*coverにすることで縦横の比率を維持したまま背景部分を埋め尽くす*/
  background-position: center; /*背景画像のどこを表示するかを指定。初期値は画像左上*/
}

.main-visual-content {
  width: 40%;
  height: 300px;
  background-color: rgba( 0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
}

.main-visual-name {
  margin-top: 30px; /* 上側の外側の余白 */
  color: #fff; /* 文字色を白に変更 */
}

.main {
  width: 840px;
  display: flex; /* Flexboxの利用。横並びや上下左右の入れ替えなどを行える『レイアウトモード』のようなもの。適用したい要素の親要素に記述する。ブロックレベル要素に使う */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  margin: 0 auto;
  /*widthとheightのデフォルトはautoなので指定しなければ子要素に合わせられる。*/
}

.blog {
  width: 600px;
  height: 1400px;
  background-color: limegreen;
}

.sidebar {
  width: 240px;
  height: 1400px;
  background-color: palegreen;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center; /*テキストを中央に揃える*/
  line-height: 120px; /*heightの高さと同じ値にすることで上下の中央揃えを指定できる*/
  background-color: #848282;
}

.footer-text {
  color: #fff;
}