* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
}

header h1 {
  margin: 20px auto;
}

.nav-item {
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0;
}

.nav-list {
  display: inline-block;
  margin: 0 20px;
  list-style: none;
}

.box {
  margin: 50px auto;
  height: 600px;
  width: 800px;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.box4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.box5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.box6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.box7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.box8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.box9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.box10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.box11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.box12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center; /*テキストを中央に揃える*/
  line-height: 120px; /*heightの高さと同じ値にすることで上下の中央揃えを指定できる*/
  background-color: #848282;
}

.footer-text {
  color: #fff;
}